### Python Chilla Pandas Assignment
> **Title= "Mr"**\
> **Name= "Ali Nawaz"**\
> **email = "nawazktk99@gmail.com"**\
> **whatsapp = "03358043653"**\
> **Artificial Intelligence Engineer at NUST**\
> **Education : Master in Software Engineering**

In [1]:
import plotly.express as px
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# adding all col and make mean in new col
df = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.389800 -0.155486  1.041818 -0.769957
1  0.041347 -1.610082 -1.492090  1.339945
2 -0.534878 -0.096422 -2.943187 -1.126163
3 -0.112342  2.182738 -0.546873  0.599368
4  0.252260  0.496709 -0.449876 -1.002293
5 -1.150318  1.061464 -1.288887  0.906267
6  0.233656 -0.007035 -0.862313  1.367438
7  0.907817 -0.803774  1.122455 -0.138789
8  0.142439 -1.145132 -1.290030  1.061573
9 -0.538065 -0.156185 -0.047500 -0.968211

In [6]:
df['average'] = df.mean(axis=1)
# df['average'] = df[['col1', 'col2']].mean(axis=1)
# col = df.loc[: , "col1":"col3"]
# df['mean'] = col.mean(axis=1)
df

          A         B         C         D   average
0 -0.389800 -0.155486  1.041818 -0.769957 -0.068356
1  0.041347 -1.610082 -1.492090  1.339945 -0.430220
2 -0.534878 -0.096422 -2.943187 -1.126163 -1.175163
3 -0.112342  2.182738 -0.546873  0.599368  0.530723
4  0.252260  0.496709 -0.449876 -1.002293 -0.175800
5 -1.150318  1.061464 -1.288887  0.906267 -0.117869
6  0.233656 -0.007035 -0.862313  1.367438  0.182936
7  0.907817 -0.803774  1.122455 -0.138789  0.271927
8  0.142439 -1.145132 -1.290030  1.061573 -0.307787
9 -0.538065 -0.156185 -0.047500 -0.968211 -0.427490